.valide{
    font-family: 'Josefin Sans', cursive;
    margin-left: 30%;
    margin-right: 30%;
}
.validate{
    font-size: 48px;
    margin-left: 40%;
    justify-content: center;
}
.container{
    padding: 17px;
    display: flex;
    justify-content: space-between;
}
.gg{
    height: 10px;
    width: 10px;
    object-fit: cover;
    object-position: center center;
}
.elegance{
       height: 50px; 
}
.aa{
background-color: brown;
}
